/* Common style */
* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-weight: 700;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin: 20px 0px;
}


/* nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* header */
.header-bg {
    background-color: #ffe6d5;
    background-image: url(/Day_6/portfolio-resources/images/header_bg.png), url(/Day_6/portfolio-resources/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 550px;
}

.banner-greetting {
    font-size: 45px;
    color: #474747;
}

.banner-name {
    font-size: 85px;
    font-weight: 700;

}

.banner-description {
    padding: 30px 0px;
}

/* main section style */
main section {
    margin-top: 130px;
    margin: 0 auto;
    max-width: 1140px;
}

/* about section style */
.about {
    padding: 130px 150px;
    max-width: 1140px;
    margin: 140px auto;
    background-color: #ffe6d5;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    text-align: center;
}

/* what i do section */
.skill-description {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
}

.skill-box h4 {
    margin: 30px 0px 10px 0px;
}

.skill-box {
    padding: 30px;
    box-shadow: 0px 0px 20px 5px gray;
    border-radius: 10px;
}
/* resume section style 
*/

.resume-title{
    margin-bottom: 70px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.section-title{
    margin-top: 130px;
}
.resume-container{
    display: flex;
    gap: 70px;
    margin-top: 50px;
}
.resume-item h4{
    color: gray;
}
.resume-item > p{
    color: gray;
    margin: 20px 0px;
}
.resume-item-tile{
    margin-top: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* footer */
.footer-bg{
    background-color: #ffe6d5;
}
.footer-container{
    max-width: 1140px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 130px 230px;
}
.footer-description{
    margin: 30px 0px;
}
.social-icon-footer a{
    margin-right: 20px;
}
.footer-contract input, textarea{
    padding: 15px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    outline: unset;
}
.footer-contract input[type="text"], .footer-contract input[type="email"]{
    width: 310px;
}